.projects-ctn {
  margin-top: 150px;
  padding: 0 5%;
  h2 {
    margin-bottom: 30px;
  }
}

.cards-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
