.projects-ctn {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 0 5%;
  h2 {
    margin-bottom: 50px;
    font-weight: 500;
  }
  &__presentation {
    font-style: italic;
    max-width: 50%;
    margin-bottom: 50px;
    line-height: 30px;
    text-align: left;
    font-size: 1.1rem;
    @media screen and (max-width: 820px) {
      max-width: 100%;
    }
  }
}

.cards-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
}
