.project-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100%;
  background: white;
}

.project-ctn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;

  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 60vh;
    filter: brightness(55%);
  }
  h2 {
    position: absolute;
    bottom: 50%;
    width: 400px;
    font-weight: bolder;
    transform: translateY(50%);
    color: rgb(255, 255, 255);
    padding: 20px 30px;
    @media screen and (max-width: 730px) {
      width: 200px;
      font-size: 2rem;
    }
  }
}

.project-ctn-txt {
  margin: 50px 30px 0px;
  max-width: 1000px;
}

.project-infos-site {
  width: 90%;
  margin: 0 5%;
}

.languages {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  li {
    border: 0.1px solid $front-light-color;
    color: $front-color;
    border-radius: 7px;
    padding: 2px 10px;
  }
}

.responsive {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 30px;
  @media screen and (max-width: 730px) {
    flex-direction: column;
    gap: 30px;
  }
  .phone {
    max-height: 200px;
    @media screen and (max-width: 730px) {
      max-width: 280px;
      max-height: 350px;
    }
  }
  .mac {
    max-height: 350px;
    @media screen and (max-width: 730px) {
      max-width: 280px;
    }
  }
}
