.project-ctn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100%;
}

.project-ctn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  position: relative;

  img {
    object-fit: cover;
    object-position: top;
    width: 90%;
    height: 60vh;
    margin-left: 5%;
    margin-right: 5%;
    border: 0.1px solid $front-color;
  }
  h2 {
    position: absolute;
    bottom: 0%;
    width: 400px;
    font-weight: bolder;
    transform: translateY(50%);
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    @media screen and (max-width: 730px) {
      width: 200px;
      font-size: 2rem;
    }
  }
}

.project-ctn-txt {
  margin: 100px 30px 0px;
}
