@font-face {
  font-family: "lato";
  src: url(../assets/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "exo";
  src: url(../assets/Exo/Exo-VariableFont_wght.ttf);
}

@font-face {
  font-family: "manrope";
  src: url(../assets/Manrope/Manrope-VariableFont_wght.ttf);
}

$main-font: "lato";
$title-font: "exo";
$small-title-font: "manrope";
$back-color: #ffffff;
$front-color: #646464;
$front-light-color: #838383;
$title-color: #242424;

* {
  padding: 0;
  margin: 0;
  font-family: $main-font;
}
body {
  min-height: 100vh;
  background: $back-color;
}

h1 {
  color: #242424;
  font-family: $title-font;
  color: $title-color;
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  color: #242424;
  font-family: $title-font;
  color: $title-color;
  font-size: 4rem;
  font-weight: 300;
}
h3 {
  color: $title-color;
  user-select: none;
  margin-left: 0px;
}
li {
  list-style: none;
}

a {
  color: #242424;
  text-decoration: none;
}

p {
  font-family: $main-font;
  color: $front-color;
  font-size: 1rem;
}
