@charset "UTF-8";
@font-face {
  font-family: "lato";
  src: url(../assets/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "exo";
  src: url(../assets/Exo/Exo-VariableFont_wght.ttf);
}
@font-face {
  font-family: "manrope";
  src: url(../assets/Manrope/Manrope-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  font-family: "lato";
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 90vh;
  background: #ffffff;
}

h1 {
  color: #242424;
  font-family: "exo";
  color: #242424;
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  color: #242424;
  font-family: "exo";
  color: #242424;
  font-size: 4rem;
  font-weight: 300;
}

h3 {
  color: #242424;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 0px;
}

li {
  list-style: none;
}

a {
  color: #242424;
  text-decoration: none;
}

p {
  font-family: "lato";
  color: #646464;
  font-size: 1rem;
}

/**** NAVBAR ****/
.navbar {
  background: white;
  display: grid;
  grid-template-columns: 60% 40%;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 61px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  padding-top: 20px;
}
.navbar h4 {
  margin-left: 50px;
  font-family: "manrope", sans-serif;
  letter-spacing: 1.1px;
}

.navbar.hidden {
  top: -71px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  margin-right: 50px;
  border-left: 1px solid #838383;
}

li {
  display: inline-block;
  padding-left: 15px;
}
li a {
  display: inline-block;
  letter-spacing: 1px;
  font-weight: 300;
  position: relative;
  padding: 3px 0px 7px;
}
li a::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #242424;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #242424;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
li a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
li a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}
li a:hover {
  font-weight: 700;
}

.icons {
  cursor: pointer;
  display: none;
  color: #242424;
  margin-right: 30px;
}

@media (max-width: 730px) {
  .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
    font-size: 2rem;
  }
  .icons:before {
    content: "☰";
  }
  .icons.active:before {
    content: "✕";
    font-size: 1.7rem;
  }
  .navbar {
    background-color: white;
  }
  .navbar h4 {
    margin-left: 30px;
  }
  .navbar.hidden {
    top: 0px;
  }
  nav ul {
    position: absolute;
    left: -100%;
    top: 61px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: white;
    gap: 20px;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    border: 0;
  }
  nav li a {
    display: inline-block;
    padding: 3px 0 7px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    padding-left: 0px;
  }
  ul.active {
    left: 0;
  }
  ul.active li {
    padding-left: 0px;
  }
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: 0.1px solid #949494;
  -webkit-transition: 350ms ease-in;
  transition: 350ms ease-in;
  max-width: 450px;
  height: 670px;
  border-radius: 7px;
  padding: 30px;
}
.card:hover {
  -webkit-box-shadow: 0px 1px 80px 1px rgba(192, 192, 192, 0.3333333333);
          box-shadow: 0px 1px 80px 1px rgba(192, 192, 192, 0.3333333333);
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin: 0 auto;
  min-height: 280px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}
.card .date {
  text-align: right;
  font-weight: 300;
  font-family: "manrope";
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.text-ctn h3 {
  font-family: "manrope", sans-serif;
  margin: 20px 0;
}

.infos-site {
  color: #838383;
}
.infos-site p {
  font-size: 0.9rem;
  line-height: 25px;
}
.infos-site .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
  padding: 0;
  color: #242424;
  margin-bottom: 20px;
}
.infos-site .languages li {
  background: white;
  padding: 2px 10px;
  border-radius: 7px;
  font-size: 0.8rem;
  border: 0.1px solid #838383;
}

.extern-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 30px;
}

.button-container {
  background: white;
  max-width: 100px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  bottom: -15px;
  right: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0.1px solid #838383;
}
.button-container span {
  color: #646464;
}
.button-container:hover {
  -webkit-transform: scaleX(1.1);
          transform: scaleX(1.1);
}

.button-git {
  background: grey;
  text-align: right;
  border-radius: 50%;
}
.button-git .fa-github {
  border-radius: 50%;
  font-size: 2rem;
  color: #242424;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.button-git .fa-github:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.off {
  display: none;
}

.page-ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  margin-top: 100px;
}

.about-ctn {
  margin-top: 150px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 80vh;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 750px) {
  .about-ctn {
    margin-left: 30px;
    margin-right: 30px;
  }
}
.about-ctn__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 25px;
}
.about-ctn__head__img {
  background-image: url("../../../public/assets/img/photo-profil_NB_crop.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 160px;
  border-radius: 100px;
  border: 1px solid black;
  margin-right: 50px;
}
@media screen and (max-width: 750px) {
  .about-ctn__head__img {
    height: 230px;
    width: 130px;
    margin-right: 20px;
  }
}
.about-ctn__head__txt h2 {
  font-family: "exo", sans-serif;
  line-height: 100px;
  font-size: 6rem;
  font-weight: 600;
}
@media screen and (max-width: 750px) {
  .about-ctn__head__txt h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}
.about-ctn__story {
  display: grid;
  grid-template-columns: 35% 65%;
  margin-top: 50px;
}
@media screen and (max-width: 750px) {
  .about-ctn__story {
    grid-template-columns: 0% 100%;
  }
}
.about-ctn__story__left {
  text-align: right;
  margin-right: 20px;
  margin-top: 10px;
}
.about-ctn__story__left span {
  background: black;
  padding: 3px 9px;
  color: white;
  text-align: right;
  border-radius: 7px;
}
.about-ctn__story__right {
  font-family: "lato";
  line-height: 30px;
  font-size: 16px;
  color: #838383;
}

.projects-ctn {
  margin-top: 150px;
  margin-bottom: 50px;
  padding: 0 5%;
}
.projects-ctn h2 {
  margin-bottom: 30px;
}

.cards-ctn {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 0 auto;
}

.footer {
  background: black;
  color: white;
  width: 100%;
  margin-top: auto;
  height: 150px;
}/*# sourceMappingURL=index.css.map */